@media (min-width : 1201px) {
    .container {
        max-width: 1150px;
    }
}


@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .promo {
        &__block-title {
            position: absolute;
            top: 30%;
            left: 35px;
            font-size: 45px;
        }
        &__block-button {
            position: absolute;
            top: calc(69% + 20px);
            left: 35px;
            width: 255px;
            height: 61px;
            font-size: 16px;
        }
        &__background-main{
            // font-size: 320px;
        }
        &__background-second {
            position: absolute;
            top: -45%;
            left: 175px;
        }
        &__background-img {
            position: absolute;
            top: 30px;
            right: -190px;
        }
        &__guide-block {
            position: absolute;
            top: calc(71% + 90px);
            left: 40px;
        }

    }
    .masterclass {
        &__wrapper {
            display: grid;
            column-gap: unset;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__block-title {
            position: absolute;
            top: 30%;
            left: 35px;
            font-size: 37px;
        }
        &__block-button {
            position: absolute;
            top: calc(59% + 20px);
            left: 35px;
            width: 195px;
            height: 50px;
            font-size: 12px;
        }
        &__background-main{
            // font-size: 320px;
        }
        &__background-second {
            position: absolute;
            top: -45%;
            left: 175px;
        }
        &__background-img {
            position: absolute;
            top: 30px;
            right: -320px;
            width: 700px;
            height: 870px;
        }
        &__guide-block {
            position: absolute;
            top: calc(55% + 95px);
            left: 39px;
            grid-template-columns: 60px 142px;
            grid-template-rows: 90px;
            column-gap: 10px;
            img {
                width: 53px;
                height: 59px;
            }

        }
        &__guide-img {
            margin-top: 14px;
            width: 51px;
            height: 55px;
        }
        &__guide-descr {
            font-size: 12px;
        }

    }
    .masterclass {
        &__wrapper {
            grid-template-columns: repeat(3,minmax(235px,400px));
            grid-template-rows: auto;
            column-gap: 15px;
        }
        &__item {
            &-descr {
                font-size: 15px;
            }
        }
        &-title {
            font-size: 31px;
        }
    }

}

@media (max-width: 768px) {
    .container {
        max-width: 500px;
    }
    .promo {
        &__block-title {
            position: absolute;
            top: 30%;
            left: 5px;
            font-size: 38px;
        }
        &__block-button {
            position: absolute;
            top: calc(59% + 20px);
            left: 5px;
            width: 195px;
            height: 50px;
            font-size: 12px;
        }
        &__background-main{
            // font-size: 320px;
        }
        &__background-second {
            position: absolute;
            top: -20%;
            left: -130px;
        }
        &__background-img {
            position: absolute;
            top: 245px;
            right: -185px;
            width: 510px;
            height: 625px;
        }
        &__guide-block {
            position: absolute;
            top: calc(55% + 95px);
            left: 10px;
            grid-template-columns: 60px 142px;
            grid-template-rows: 90px;
            column-gap: 10px;
            img {
                width: 53px;
                height: 59px;
            }

        }
        &__guide-img {
            margin-top: 14px;
            width: 51px;
            height: 55px;
        }
        &__guide-descr {
            font-size: 12px;
        }

    }
    .masterclass {
        &__wrapper {
            grid-template-columns: repeat(3,minmax(170px,400px));
            grid-template-rows: auto;
            column-gap: 10px;
        }
        &__item {
            &-descr {
                font-size: 11px;
            }
            &-img {
                width: 100px;
                height: 105px;
            }
        }
        &-title {
            font-size: 25px;
        }
    }
}


@media (max-width: 576px) {
    .container {
        width: 100%;
    }
    .promo {
        &__block-title {
            position: absolute;
            top: -11%;
            left: 20px;
            font-size: 29px;
        }
        &__block-button {
            position: absolute;
            top: calc(15% + 20px);
            left: 20px;
            width: 195px;
            height: 50px;
            font-size: 12px;
        }
        &__background-main{
            // font-size: 320px;
        }
        &__background-second {
            position: absolute;
            top: -30%;
            left: -230px;
        }
        &__background-img {
            position: absolute;
            top: 225px;
            right: -171px;
            width: 430px;
            height: 525px;
        }
        &__guide-block {
            position: absolute;
            top: calc(10% + 95px);
            left: 25px;
            grid-template-columns: 60px 142px;
            grid-template-rows: 90px;
            -moz-column-gap: 10px;
            column-gap: 10px;
            img {
                width: 53px;
                height: 59px;
            }

        }
        &__guide-img {
            margin-top: 14px;
            width: 51px;
            height: 55px;
        }
        &__guide-descr {
            font-size: 12px;
        }

    }
    .masterclass {
        &__wrapper {
            grid-template-columns: repeat(2,140px);
            grid-template-rows: auto;
            column-gap: 30px;
            row-gap: 30px;
            justify-content: center;
        }
        &__item {
            &-descr {
                font-size: 11px;
            }
            &-img {
                width: 100px;
                height: 105px;
            }
        }
        &-title {
            font-size: 25px;
            padding-left: 20px;
        }
    }
}


